body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#todo-list li {
        border-bottom: 1px solid #333333;
        padding: 15px 0;
      }

/*.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}*/

/*th {
  text-align: left;
}*/

.task-done {
	text-decoration: line-through;
}
