<p>Are you sure you want to delete:</p>
<blockquote><p><%= @task.content %></p></blockquote>
<form action="/task/delete/<%= @task.id %>" method="post">
  <button type="submit" class="btn btn-primary" name="ok">OK</button>
  <button type="submit" class="btn" name="cancel">Cancel</button>
</form>
