<h1>Check it!</h1>

<h3>Log In</h3>
<form action="/login" method="post">
	<input type="text" name="email" placeholder="Email"><br><br>
	<input type="password" name="password" placeholder="Password"><br><br>
	<input type="submit" value="Submit">
</form>
<br>
<a href="/register">Register</a>

<% if session[:errors] %>
	<p><%= session[:errors] %></p>
	<% session[:errors] = nil %>
<% end %>