<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css remueve las diferenecia que hay entre browsers segun los defaults de css predeterminados que utilizan.
    Revisa: http://necolas.github.com/normalize.css/
  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
  <!--
    application.css este es el archivo donde van tus estilos, tu css
  -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <title>ToDo App</title>
</head>
<body>

  <div class="container">
    <%= erb :_navbar %>
    <%= yield %>
  </div>

  <script src="/js/application.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</body>
</html>
